Tuples are ordered and indexed lists contained in parentheses with the additional quality of immutability

In [1]:
t = (1,2,3)
t

(1, 2, 3)

In [2]:
myList = [1,2,3]
myList

[1, 2, 3]

In [3]:
type(t)

tuple

In [4]:
type(myList)

list

use len() to check length of tuple

In [5]:
len(t)

3

In [6]:
t = ('one', 2, 3)
t

('one', 2, 3)

In [7]:
len(t)

3

In [8]:
t[0]

'one'

In [9]:
t[-1]

3

In [10]:
t = ('a','a', 'b')
t

('a', 'a', 'b')

In [11]:
t.count('a')

2

.index returns the first occurence of a match

In [12]:
t.index('b')

2

In [13]:
t.index('a')

0

Tuples are immutable

In [14]:
t

('a', 'a', 'b')

In [15]:
myList

[1, 2, 3]

In [16]:
myList[0] = 'NEW'
myList

['NEW', 2, 3]

In [17]:
t[0] = 'NEW'
t

TypeError: 'tuple' object does not support item assignment